<% locals.setLayout('base.ejs') %>
<% locals.block('title', 'Список страниц верстки') %>

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="./main.html">Главная</a>
        </li>
    </ul>
</div>